.unstyled-list {
    list-style-type: none;
    display: inline;
}
body {
    font-family: sans-serif;
    line-height: 1.5;
    width: 1600px;
    height: 2348px;
  }
.container {
    width: 1600px;
    display: inline-block;
    box-sizing: border-box;
}
.logo {
    display: inline-block;
    margin-left: 215px;
    margin-bottom: 25px;
    margin-top: 24px;
}
.main-menu {
    display: inline-block;
    margin-top: 32px;
    margin-bottom: 32px;
}
.main-menu-contacts {
    display: inline-block;   
}
.link {
    text-decoration: none;
}
.page-section-list {
   display: flex;
   gap: 1;
   justify-content: space-between; 
   text-align: center;
}
.main-menu-item {
    display: inline-block;
    margin-right: 25px;
    margin-left: 25px;
}
.page-header {
   background-color:white;
   fill: solid;
   display: flex;
   padding: 2px;
   width: 1600px;
   height: 80px;
}
.link1:hover {
    color: #2196F3;
}
.main-menu-contacts {
    list-style-type: none;
}
.web-studio {
    font-family: raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: #000000;
    text-align: left;
    vertical-align: top;
}  
.logo-highlight {
    color: #2196F3;  
}
.studio {
    font-family: roboto;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    color: #000000;
    text-align: left;
    vertical-align: top;
    margin-right: 25px;
}
.portofolio {
    font-family: roboto;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    color: #000000;
    margin-right: 25px;
}
.button-all {
    margin-left: 542px;
    display: inline-block;
}
.background-button:hover {
    background-color: #2196F3;
    color: #FFFFFF;
}
.all {
    background-color: #F5F4FA;
    border-radius: 4px;
    border: #F5F4FA;
    font-family: roboto;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center; 
    vertical-align: center;
    fill: solid;
    color:#212121; 
    display: center;
    margin-top: 30px;
    width: 64px;
    height: 38px;
    top: 174px;
    left: 542px;
    padding: 6px 22px;
}
.button-web-sites {
    margin-left: 4px;
    display: inline-block; 
}
.web-site { 
    background-color:#F5F4FA;
    border-radius: 4px;
    border: #F5F4FA;
    font-family: roboto;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center; 
    vertical-align: center;
    fill: solid;
    color: #212121;
    display: center;
    margin-top: 30px;
    width: 120px;
    height: 38px;
    top: 174px;
    left: 614px;
    padding: 6px 22px;
}
.button-apps {
    margin-left: 4px;
    display: inline-block;
}
.apps {
    background-color:#F5F4FA;
    border-radius: 4px;
    border: #F5F4FA;
    font-family: roboto;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center; 
    vertical-align: center;
    fill: solid;
    color: #212121;
    display: center;
    margin-top: 30px;
    width: 120px;
    height: 38px;
    top: 174px;
    left: 937px;
    padding: 6px 22px;
}
.button-design {
    margin-left: 4px;
    display: inline-block;
}
.design {
    background-color:#F5F4FA;
    border-radius: 4px;
    border: #F5F4FA;
    font-family: roboto;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center; 
    vertical-align: center;
    fill: solid;
    color: #212121;
    display: center;
    margin-top: 30px;
    width: 120px;
    height: 38px;
    top: 174px;
    left: 937px;
    padding: 6px 22px;
}
.button-marketing {
    margin-left: 4px;
    display: inline-block;
}
.marketing1 { 
    background-color: #F5F4FA;
    margin-top: 30px;
    width: 121px;
    height: 38px;
    top: 174px;
    left: 937px;
    border-radius: 4px;
    border: #F5F4FA; 
    font-family: roboto;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    color: #212121;
    display: center; 
    padding: 6px 22px;
}
.photo-section {
    display: inline-block;
    margin-left: 215px;
    display: flex;
}
.technoduck-section {
    display: inline-block;
    margin-top: 56px;
    margin-right: 30px;
}
.technoduck-img {

}
.technoduck {
    font-family: roboto;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    color: #212121;
}
.web-site-technoduck {
    font-family: roboto;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.8;
    color: #757575;
}
.poster-section {
    display: inline-block;
    margin-right: 30px;
}
.seafood-section {
    display: inline-block;
    margin-right: 30px;
}
.prime-section {
    display: inline-block;
    margin-top: 30px;
    margin-right: 30px;
}
.boxes-section {
    display: inline-block;
    margin-right: 30px;
}
.inspiration-section {
    display: inline-block;
    margin-right: 30px;
}
.edition-section {
    display: inline-block;
    margin-right: 30px;
    margin-top: 30px;
}
.project-lab-section {
    display: inline-block;
    margin-right: 30px;
}
.business-section {
    display: inline-block;
    margin-right: 30px;
}
.contacts {
    font-family: roboto;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    color: #000000;
    fill: solid;
    margin-right: 25px;
}
.mail1 {
    font-family: roboto;
    font-style: 400;
    font-size: 14px;
    line-height: 1.14;
    fill: solid;
    text-align: left;
    vertical-align: top;
    color: #757575;
    margin-left: 100px;
}
.tel1 {
    font-family: roboto;
    font-style: 400;
    font-size: 14px;
    line-height: 1.14;
    color: #757575; 
    margin-right: 215px;  
}
.title-section {
    background: #2F303A66;
    background-color: #2F303A;
    background-image: url();
    width: 1600px;
    height: 600px;
    top: 80px;
    left: 0px;
    margin:auto;
    display:inline-block;
}
.title {
    background-color:#2F303A;
    font-family: roboto;
    font-weight: 900;
    font-size: 30px;
    line-height:normal;
    text-align: center;
    padding: 20px;
    fill: solid;
    color:#FFFFFF;
    width: 696px;
    height: 120px;
    top: 280px;
    left: 452px;
    margin-top: 200px;
    margin-left: 452px;
    margin-bottom: 30px;
}
.button {
    text-align: center;
}
.button-request {
    background-color:#2196F3;
    font-family: roboto;
    font-weight: 900;
    font-size: 16px;
    line-height: 1.8;
    text-align: center; 
    vertical-align: center;
    fill: solid;
    color:#FFFFFF; 
    margin-top: 30px;
    width: 200px;
    height: 50px;
    top: 440px;
    left: 700px;
    border-radius: 4px;
    border: #2196F3;
    display: center;
    box-shadow: 0px 4px 4px rgba(0,0,0,0.15); 
    padding: 10px 20px;    
}
.text-section {
    display: inline-block;
    margin-top: 94px; 
    margin-bottom: 94px;

}
.attention {
    display: inline-block;
    margin-right: 30px;
    margin-left: 215px;
}
.punctuality {
    display: inline-block;
    margin-right: 30px;
}
.planning {
    display: inline-block;
    margin-right: 30px;
}
.modern {
    display: inline-block; 
    margin-right: 30px;
}
.what-section {
    width: 1600px;
    height: 648px;
    left: 0px;
    top: 1449px;
    display: inline-block;
}
.img2-image {
    display: inline-block;
    margin-right: 30px;
    margin-left: 215px;
}
.img-image {
    display: inline-block;
    margin-right: 30px;
}
.img1-image {
    display: inline-block;
}
.what {
    font-family: roboto;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    color: #212121;
    text-align: center;
    margin-bottom: 50px;
    margin-left: auto;
}
.social-list {
    display: flex;
    justify-content: center;
    gap: 10px;
}
.social-icons {
    width: 20px;
    height: 20px;
    fill: currentColor;
}
.social-link {
background-color:#FFFFFF;
border-radius: 50%;
width: 44px;
height: 44px;
display: flex;
justify-content: center;
align-items: center;
color: #AFB1B8;
}
.social-link:hover {
    color: #2196F3;
}
.our-section {
    width: 1600px;
    height: 648px;
    left: 0px;
    top: 1449px;
    display: inline-block;
}
.our {
    margin-top: 94;
    margin-bottom: 50px;
    font-family: roboto;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    color: #212121;
    text-align: center; 
}
.christopher-section {
    width: 270px;
    height: 368px;
    left: 215px;
    top: 1635px;
    display:inline-block;
    margin-right: 30px;
    margin-left: 215px;
}
.christopher-image {
    margin-bottom: 30px;
    border: 2px;
}
.christopher {
    margin-top: 0;
    margin-bottom: 20px;
    font-family: roboto;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.17;
    color: #212121;
    text-align: center;
}
.product {
    margin-bottom: 0;
    margin-top: 0;
    font-family: roboto;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.17;
    color: #757575;
    text-align: center;
}
.kylie-section {
    width: 270px;
    height: 368px;
    left: 215px;
    top: 1635px;
    display:inline-block;
    margin-right: 30px;
}
.kylie-image {
    margin-bottom: 30px;
    border: 2px;
}
.kylie {
    margin-top: 0;
    margin-bottom: 20px;
    font-family: roboto;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.17;
    color: #212121;
    text-align: center;
}
.frontend {
    margin-bottom: 0;
    margin-top: 0;
    font-family: roboto;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.17;
    color: #757575;
    text-align: center;
}
.ryan-section {
    width: 270px;
    height: 368px;
    left: 215px;
    top: 1635px;
    display:inline-block;
    margin-right: 30px;
}
.ryan-image {
    margin-bottom: 30px;
    border: 2px;
}
.ryan {
    margin-top: 0;
    margin-bottom: 20px;
    font-family: roboto;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.17;
    color: #212121;
    text-align: center;
}
.ryan-marketing {
    margin-bottom: 0;
    margin-top: 0;
    font-family: roboto;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.17;
    color: #757575;
    text-align: center;
}
.tyler-section {
    width: 270px;
    height: 368px;
    left: 215px;
    top: 1635px;
    display:inline-block;
    margin-right: 30px;
}
.tyler-image {
    margin-bottom: 30px;
    border: 2px;
}
.tyler {
    margin-top: 0;
    margin-bottom: 20px;
    font-family: roboto;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.17;
    color: #212121;
    text-align: center;
}
.ui-designer {
    margin-bottom: 0;
    margin-top: 0;
    font-family: roboto;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.17;
    color: #757575;
    text-align: center;
}
.main-menu-contacts1 {
    background-color: #2F303A;
    width: 1600px;
    height: 251px;
    top: 2097px;
    left: 0px;
    display: flex;
}
.page-section1 {
    margin-left: 215px;
    margin-top: 60px; 
}
.WebStudio1 {
    font-family: raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: #FFFFFF;
    text-align: left;
    margin-top: 60px;
}
.logo-highlight1 {
    color: #2196F3; 
}
.adress {
    font-family: roboto;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.14;
    color: #FFFFFF;
}
.mail {
    font-family: roboto;
    font-style: 400;
    font-size: 14px;
    line-height: 1.14;
    color: rgba(255, 255, 255, 0.6);  
}
.tel {
    font-family: roboto;
    font-style: 400;
    font-size: 14px;
    line-height: 1.14;
    color: rgba(255, 255, 255, 0.6);    
}
.page-section2 {
    background-color: #2F303A;
}
.social-link1 {
    background-color: #FFFFFF1A;
    border-radius: 50%;
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000000;
}
.social-link1:hover {
    color: #2196F3;
}

